<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
    <!-- Тема по умолчанию -->
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/light.css') }}">
    <script src="{{ url_for('static', filename='form-validation.js') }}" defer></script>
    <script src="https://unpkg.com/imask"></script> 
</head>
<body>

<div class="form-container">
    <div class="form-wrapper">
        <h2>Редактировать пользователя</h2>
        <form id="user-form" action="{{ url_for('edit_user', user_id=user.id) }}" method="post" novalidate>
            <div class="input-group">
                <input type="text" name="first_name" id="first_name" value="{{user[1]}}" required minlength="2" maxlength="50">
                <label for="first_name">Имя</label>
                <div class="error-message" data-error-for="first_name"></div>
            </div>

            <div class="input-group">
                <input type="text" name="last_name" id="last_name" value="{{user[2]}}" required minlength="2" maxlength="50">
                <label for="last_name">Фамилия</label>
                <div class="error-message" data-error-for="last_name"></div>
            </div>

            <div class="input-group">
                <select name="gender" id="gender" required>
                    <option value="" disabled {% if not user[3] %}selected{% endif %}></option>
                    <option value="Мужской" {% if user[3] == 'Мужской' %}selected{% endif %}>Мужской</option>
                    <option value="Женский" {% if user[3] == 'Женский' %}selected{% endif %}>Женский</option>
                </select>
                <label class="label-select" for="gender">Пол</label>
                <div class="error-message" data-error-for="gender"></div>
            </div>

            <div class="input-group">
                <input type="number" name="age" id="age" value="{{user[4]}}" required min="1" max="120">
                <label for="age">Возраст</label>
                <div class="error-message" data-error-for="age"></div>
            </div>

            <div class="input-group">
                <input type="text" name="phone" id="phone" value="{{ user[5] }}" required>
                <label for="phone">Телефон</label>
                <div class="error-message" data-error-for="phone"></div>
            </div>
           

            <div class="input-group">
                <input type="email" name="email" id="email" value="{{ user[6] }}" required>
                <label for="email">Электронная почта</label>
                <div class="error-message" data-error-for="email"></div>
            </div>

            <div class="input-group">
                <input type="text" name="address" id="address" value="{{ user[7] }}" required maxlength="255">
                <label for="address">Адрес проживания</label>
                <div class="error-message" data-error-for="address"></div>
            </div>

            <div class="input-group">
                <input type="number" step="0.01" name="salary" id="salary" value="{{ user[8] }}" required min="0">
                <label for="salary">Заработная плата</label>
                <div class="error-message" data-error-for="salary"></div>
            </div>

            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
</div>


<script>
    const THEME_LIGHT = "{{ url_for('static', filename='css/light.css') }}"
    const THEME_DARK = "{{ url_for('static', filename='css/dark.css') }}"
</script>
<script src="{{ url_for('static', filename='js/theme_switcher.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/form-validator.js') }}" defer></script>
</body>
</html>