<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename = 'css/light.css') }}">
    <title>Пользователи</title>
</head>
<body>
    <div class="container">
        <button id="theme-toggle" class="theme-button">Переключить тему</button>
        <!-- Кнопка добавления -->
        <a href="{{ url_for('add_user') }}" class="add-button">Добавить пользователя</a>

        <!-- Выпадающий список -->
         <form action="/" method="get" class="sort-form">
            <label for="sort_by">Сортировать по</label>
            <select name="sort_by" id="sort_by">
                <option value="last_name">Фамилия</option>
                <option value="gender">Пол</option>
                <option value="age">Возраст</option>
            </select>
            <button class="apply" type="submit">Применить</button>
         </form>

         <!-- Поле поиска -->
          <form action="/" method="get" class="search-form">
            <input type="text" name="search" placeholder="Поиск по имении и фамилии" value="">
            <button class="search_button" type="submit">Найти</button>
          </form>

          <!-- Таблица пользователей -->
           <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Пол</th>
                        <th>Возраст</th>
                        <th>Телефон</th>
                        <th>Электронная почта</th>
                        <th>Адрес</th>
                        <th>Заработная плата</th>
                        <th>Действие</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>{{ user[5] }}</td>
                        <td>{{ user[6] }}</td>
                        <td>{{ user[7] }}</td>
                        <td>{{ user[8] }}</td>
                        <td>
                            <a href="{{ url_for('edit_user', user_id = user.id) }}" class="edit_button">Изменить</a>
                            <a href="{{ url_for('delete_user', user_id = user.id) }}" class="delete_button">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
           </table>
    </div>

    <script>
        const THEME_LIGHT = "{{ url_for('static', filename='css/light.css') }}"
        const THEME_DARK = "{{ url_for('static', filename='css/dark.css') }}"
    </script>
    <script src="{{ url_for('static', filename='js/theme_switcher.js') }}" defer></script>
</body>
</html>